{% extends 'main/base.html' %}

{% block title %}Contact us{% endblock %}

{% block content %}

<body style="background-color:green">
    <div>
        <h1 class="col-lg-8 col-md-8 mb-lm-30px"> Customer Complaint Details  </h1>
    </div>
    <div class="container">
        <form class="zinc_can-form-style" action="/market_complaint/" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-lm-30px">

             <label class="form-label" style="font-weight:bold"> Complaint No </label>
                <input name="complaint_no" type="text" style="background-color: #90EE90;"  class="form-control" placeholder="">
                <div>

             <label class="form-label" style="font-weight:bold"> Complainer </label>
            <input type="text"  name="complainer" class="form-control" placeholder="">
                <div>

                     <div class="mb-4">
             <label class="form-label" style="font-weight:bold" > Battery Type </label>
            <input name="battery_type" type="text"  class="form-control" placeholder="">
                <div>

                    <div class="mb-4">
             <label class="form-label" style="font-weight:bold" > Description </label>
            <input name="description" type="text"  class="form-control" placeholder="">
                <div>

                    <div class="mb-4">
             <label class="form-label" style="font-weight:bold" > Mfg. date </label>
            <input name="mfg" type="text"  class="form-control"  placeholder="">
                <div>

                    <div class="mb-4">
             <label class="form-label" style="font-weight:bold" > Status </label>
            <input name="status" type="text"  class="form-control"  placeholder="">
                <div>

                    <div class="mb-4">
             <label class="form-label" style="font-weight:bold" > Receive Date </label>
            <input name="receivedate" type="date"  class="form-control"  placeholder="">
                <div>

                <br>
                <button class="btn btn-primary" type="submit">SUBMIT</button>
                </div>
        </form>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        </div>
</body>
{% endblock %}